<br>
<div class="card" style="width: 80%; padding: 10px; margin: auto;">
    <img src="{{'data:image/jpg;base64,' +  Blogs.url }}" class="card-img-top" style="width: 100%; height: 400px;" alt="...">
    <div class="card-body">
        <p class="card-text"><strong>Title: </strong> {{ Blogs.title }}</p>
        <p class="card-text"><strong>Content: </strong> {{ Blogs.content }}</p>
        <p class="card-text"><strong>Date of Birth: </strong> {{ Blogs.date}}</p>
        <p class="card-text"><strong>Author: </strong> {{ Blogs.author }}</p>
        <app-comment></app-comment>
        <a routerLink='/post' class="btn btn-primary" style="background-color: rgb(2, 189, 252);">Go Back</a>
    </div>
    </div>
    <br>