<br>

<form class="blog-post-form" #blogPostForm="ngForm" (ngSubmit)="onSubmit()" style="text-align:center;">
  <h2 style="text-align:center"><b>Add Post</b></h2>
   <div class="form-group" >
       <label for="title">Title</label>
       <input type="text" id="title" name="title" [(ngModel)]="blogPost.title" required>
   </div>
   <div class="form-group">
       <label for="content">Content</label>
       <textarea id="content" name="content" [(ngModel)]="blogPost.content" required></textarea>
   </div>
   <div class="form-group">
       <label for="author">Author</label>
       <input type="text" id="author" name="author" [(ngModel)]="blogPost.author" required>
   </div>
   <div class="form-group">
       <label for="date">Date</label>
       <input type="date" id="date" name="date" [(ngModel)]="blogPost.date" required>
   </div>
   
   <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" id="tags" name="tags" [(ngModel)]="blogPost.tags" required>
</div>

   <div class="form-group">
       <label for="url">Image</label>
       <input type="file" id="url" name="url" (change)="onFileChange($event)" accept="image/*" [(ngModel)]="blogPost.url" required>
   </div>
   <div class="form-actions">
       <button type="submit" style="width: 100%;" [disabled]="blogPostForm.invalid">Submit</button><br>
   </div>
   <div>
        <p style="color:rgb(2, 189, 252);" type="button" routerLink="/post">back</p>
        
   </div>
   
</form>
<br>