.blog-post-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="url"],
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: rgb(2, 189, 252);;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    color: black
  }
  
  .form-actions {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Optional: Style for the back button */
  button[routerLink] {
    margin-left: 10px;
    background-color: rgb(2, 189, 252);;
    color: #000;
  }
  