<!-- <footer class="bg-light text-center text-black" style="background-color: lightblue;">
    <div style="background-color: rgb(60, 187, 230);">
    <div class="container p-4 pb-0" >
    <section class="mb-4">
    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
    <i class="fab fa-facebook-f"></i>
    </a>
     
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
    <i class="fab fa-twitter"></i>
    </a>
     
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
    <i class="fab fa-google"></i>
    </a>
     
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
    <i class="fab fa-instagram"></i>
    </a>
     
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
    <i class="fab fa-linkedin"></i>
    </a>
    
    </section>
    </div>
     
        <div class="text-center p-3" style="background-color: rgb(97, 97, 173)">
    
    <span>© 2023 YourWebsite.com. All rights reserved.</span>
    </div>
</div>
    </footer> -->

    <footer class="bg-light text-center" style="background-color: rgb(2, 189, 252); margin-bottom: -30px;">
            <div class="mb-4" style="background-color: rgb(2, 189, 252); padding-top: 10px;">
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
                </a>
                 
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                <i class="fab fa-twitter"></i>
                </a>
                 
                            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                <i class="fab fa-google"></i>
                </a>
                 
                            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i>
                </a>
                 
                            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                <i class="fab fa-linkedin"></i>
                </a><br>

                <span>© 2023 YourWebsite.com. All rights reserved.</span>                
            </div>
    </footer>