a{
  background-color: red;
}
.container {
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
  }
  .news-container {
    display: inline-flex;
  }
  .news-card {
    width: 300px;
    height: auto;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: #F8F9F9;
    border: 2px solid black;
  }
  .course-card {
    width: 220px;
    height: 320px;
    margin: 10px 10px;
    background-color: #F8F9F9;
    border: 3px solid black;
  }
  .news-buttons {
    display: flex;
  }
  .btn {
    width: 95%;
    height: 30px;
    margin: auto;
    margin-bottom: 1%;
  }
  .btn-read {
    background-color: blue;
    color: white;
  }
  .btn-detail {
    background-color: rgb(2, 189, 252);
    color: white;
  }